/* Main page */
.navbar-nav {
    margin-left: auto;
}

.nav-item {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
}

.navbar-brand {
    padding-left: 2%;
    padding-right: 20%;
}

#navbar-title {
    font-size: 2rem;
}

#navbar-button{
    padding: 15px 20px;
}


.GIT-logo {
    margin-left: auto;
    max-width: 80%;
    height: auto;
}

.IEI-logo {
    margin-left: auto;
    max-width: 80%;
    height: auto;
}

.tagline{
    text-align: center;
    font-size: 2.8vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 0 0 3px #f9f5f5, 0 0 5px #121111;
}

#home {
    padding: 2%;
    padding-top: 2%;
}

.first-section {
    background-image: url("images/bg-image.jpeg");
  background-color: rgba(255, 251, 251, 0.749);
  background-blend-mode: lighten;
}

.about {
    margin:5%;
    margin-bottom: 2%;
}
.about-h3 {
    color: #11999E;
}
.about-row {
    text-align: left;
    width: 90%;
    margin: 5% auto 15% auto;
}

.about-heading {
    font-weight: bold;
    font-size: 2rem;
    color: #11999E;
}

.about-description {
    font-size: 1.2rem;
}

.about-info{
    font-size:1.2rem;
}

.quiz-img {
    margin-right: 2%;
    width: 15%;
    float: left;
}

.datasheet-img {
    margin-left: 30px;
    width: 15%;
    float: right;
}

 p{
    font-size: 1rem;
 }

 #rules {
     background-color: rgb(189, 183, 183);
 }

 .rules-heading {
    font-size: 2.5rem;
}

 .carousel-item {
    padding: 3% 12% 3% 12%;
}

.rules-list-items{
    font-size: 1.15rem;
}

#footer {
    padding: 5% 15% 1% 15%;
}

.last {
    padding-bottom: 2%;
}

.contact-heading {
    font-size: 2rem;
    font-weight: bold;
}

.faculty-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #11999E;
}

.faculty-list {
    font-size: 1rem;
    font-weight: bold;
}

.student-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #11999E;
}

.student-list {
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .nav-item {
        font-size: 2.5rem;
    }
    .navbar-nav{
        margin-left: 40%;
    }

    #navbar-title {
        font-size: 4rem;
    }

    #navbar-button{
        padding: 25px 30px;
    }
    .about-description {
        font-size: 2rem;
        }
    
    .about-heading{
        font-size: 3rem;
    }

    .about-info{
        font-size:2rem;
        padding-bottom: 3%;
    }
    .about-h3{
        font-size: 3.5rem;
    }

    .quiz-img {
        margin-right: 2%;
        width: 32%;
        float: left;
    }
    
    .datasheet-img {
        margin-left: 30px;
        width: 30%;
        float: right;
    }

    .rules-list-items{
        font-size: 2.5rem;
    }

    .rules-heading {
        font-size: 3.5rem;
    }

    .contact-heading {
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .faculty-heading {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .faculty-list {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .student-heading {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .student-list {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .dropdown-item {
        font-size: 2.1rem;
    }

    .notice-success {
        border-color: #80D651;
        font-size: 2rem;
        padding:2%;
    }
    .notice-success>strong {
        color: #80D651;
        font-size: 2.2rem;
    }
    .notice-danger {
        border-color: red;
        font-size: 2rem;
    }
    .notice-danger>strong {
        color: red;
        font-size: 2.2rem;
    }
}
.results-h1 {
    text-align: center;
    padding: 2% 2% 2% 2%;
    color: #10b7bd;
}


/* Notifications page */

.notice {
    padding: 2%;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 1%;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-success {
    border-color: #80D651;
    font-size: 2rem;
}
.notice-success>strong {
    color: #80D651;
    font-size: 2.2rem;
}

.notice-danger {
    border-color: red;
    font-size: 2rem;
}
.notice-danger>strong {
    color: red;
    font-size: 2.2rem;
}
.notice-light {
    border-color:blue;
    font-size: 2rem;
}
.notice-light>strong {
    color: blue;
    font-size: 2.2rem;
}

.blink-me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }




